# **10 Feb, 2026**

## **Chapter 2 started**

In [ ]:
print("The numbers are: ".split())

['The', 'numbers', 'are:']

In [ ]:
L=[3, 2, 'Ashish', 'a', 'z', 0, '1']
print(L)
print(L)

[3, 2, 'Ashish', 'a', 'z', 0, '1']
[3, 2, 'Ashish', 'a', 'z', 0, '1']

In [ ]:
pairs=[(x, y) for x in [1, 2, 3] for y in [1, 2, 3]]
pairs

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

**Create the theory and examples of args and kwargs used to declare fucntion**

In [ ]:
def square(x):
    return x*x

In [ ]:
def square(x):
    return x*x
l=[1, 2, 3, 4]
list(map(square, l))

[1, 4, 9, 16]